[submodule "backend"]
	path = backend
	url = https://github.com/Mohcka/seamless-texture-inpainting-backend/tree/dev
[submodule "frontend"]
	path = frontend
	url = https://github.com/Mohcka/seamless-texture-inpainting-frontend/tree/dev
